@charset 'utf-8';
@keyframes bounce-top{0%{transform:translateY(-45px);animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{transform:translateY(-24px);animation-timing-function:ease-in}65%{transform:translateY(-12px);animation-timing-function:ease-in}82%{transform:translateY(-6px);animation-timing-function:ease-in}93%{transform:translateY(-4px);animation-timing-function:ease-in}25%,55%,75%,87%{transform:translateY(0);animation-timing-function:ease-out}100%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}}

*{box-sizing:border-box; outline: none;}

.container{
    width:50vw;
    margin:0 auto;
    border:10px solid #555;
    
    .title{
        display:flex;
        justify-content: space-around;
        border-bottom: 10px solid #555;
        background: gold;
        
        .today{
            order: 1;      
            font:30px 'arial';
            align-self: center;
        }

        h1{
            order:2;
        }

        .developer{
            order:3;
            font:30px 'arial';
            align-self: center;
        }
    }

    .main{
        display: flex;
        padding:3vw;
        flex-direction: column;
        align-items: center;
        background:rgb(189, 21, 85);

        .question{
            width:30vw;
            background:#fff;
            border: dashed 8px #555;
            border-radius: 60px;
            padding: 30px;
            text-align: center;
            font:bold 50px 'arial';

        }

        input{
            width: 25vw;
            margin-top:50px;
            border:solid 4px #555;
            border-radius: 20px;
            padding:20px;
            background:gold;
            font:bold 20px 'arial';

            &:focus{
                outline:none;
            }
        }
        button{
            width:5vw;
            border:solid 4px #555;
            border-radius: 20px;
            padding:20px;
            background:#fff;
            font:bold 20px 'arial';
        }

        .result{
            margin-top:50px;
            height:50px;
            font:bold 40px 'arial';
            color:gold;
            
            &.resultAnimation{
                animation:bounce-top .5s cubic-bezier(.95,.05,.795,.035) both;
            }
        }
    }
}